#prologos{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("images/japan-galleries_blum-and-poe_1100x733.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 380px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
/* .keimeno{
    color: rgb(79, 60, 25);
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
} */
input[type=submit] {
    background-color: orange;
    border: none;
    color: black;
    padding: 4px 16px;
    text-decoration: none;
    margin: 6px ;
    cursor: pointer;
}

.navbar-transparent {
    background-color: transparent !important;
    background: transparent !important;
    border-width: 0px;
}

input[type=text],input[type=password] {
    background-color:#faf68a;
    border: none;
    color: black;
    padding: 4px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


.navbar-nav {
    display:inline-table;
    width:100%;
    margin: 0;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}
.navbar-transparent ul li a{
    color: #000 !important;}
/*#navform{*/
/*    float: right;*/
/*}*/
li{
    padding-left: 10px;
    padding-right: 10px;

}
#even:nth-child(odd){
    background:#fafbc5;
}
ul{
    text-align: center;
}

a:hover{
    color: orange !important;
}
#navigation-bar ul li a{
    color: #000;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: #fafbc5; 
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#myBtn:hover {
    background-color: #555;
}
#navigation-bar ul li a:hover{
    background-color: rgba(0,0,0,0.4);
}

#message{
    font-family: 'Lobster', cursive;
    color: black;
    align-content: center;
    padding-top: 80px;

}
@media screen and (min-width: 601px) {
    #message {
        font-size: 43px;
    }
}

@media screen and (max-width: 600px) {
    #message {
        font-size: 30px;
    }
}
#calendart{   

    font-family: 'Barriecito', cursive;

}

*{
    -moz-animation: 2.6s ease-in;
}

