
#prologos{
    background-image: url("japan-galleries_blum-and-poe_1100x733.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 350px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.keimeno{
    color: orange;
}
input[type=submit] {
    background-color: orange;
    border: none;
    color: white;
    padding: 4px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=text],input[type=password] {
    background-color:#faf68a;
    border: none;
    color: black;
    padding: 4px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
li{
    padding-left: 10px;
    padding-right: 10px;
    
}
#even:nth-child(odd){
    background:#fafbc5;
}

ul{
    text-align: center;
}

/* bottom-to-top */
a.move-top {
    width: 34px;
    height: 34px;
    background: url("move-top.png") no-repeat;
    display: inline-block;
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 0;
}

/* //bottom-to-top */

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}
